<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AniLife.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AniLife.MySettings>
            <setting name="ISFIRSTRUN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NOTIFICATIONS_USESYSTEMNOTIFICATIONS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LIBRARY_PATHS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="DATA_LOCATION" serializeAs="String">
                <value />
            </setting>
            <setting name="CLIENT_LOADCHARACTERS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CLIENT_LOADCHARACTERSPICTURES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CLIENT_LOADANIMEPICTURES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="APP_OPTIMIZEMEM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APP_THEME" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="APP_LANGUAGE" serializeAs="String">
                <value>EN_US</value>
            </setting>
            <setting name="APP_ISCUSTOMTHEME" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APP_ISEXTERNALTHEME" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APP_THEME_FONTWEIGHT" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="APP_EXTERNALTHEMEPATH" serializeAs="String">
                <value />
            </setting>
            <setting name="APP_EXTERNALLANGUAGEPATH" serializeAs="String">
                <value />
            </setting>
            <setting name="APP_ISEXTERNALLANGUAGE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APP_R18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APP_AUDX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AUDX_YOUTUBEDL" serializeAs="String">
                <value />
            </setting>
            <setting name="APP_CLIENT" serializeAs="String">
                <value />
            </setting>
            <setting name="APP_CLIENTVER" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APP_USEBACKGROUNDLOADING" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CLIENT_REQUESTDELAY" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="CLIENT_CHARACTERCAP" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CLIENT_OFFLINEBROWSING" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AUDX_REQUESTQUALITY" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DUMMY" serializeAs="String">
                <value />
            </setting>
        </AniLife.MySettings>
    </userSettings>
</configuration>